.home-notice{
    width: 100%;
    height: 24px;
    font-size: 14px;
    color: white;
    display: flex;
    background: var(--defused-black);
    justify-content: center;
    align-items: center;
}

.acc-btn{
    color: #3e1c8d;
}


.im ::after{
    color: red;
}








.im{
    opacity: 0.3;
}
.ima{
    width: 20%;
    height: 340px;
}












/* Container holding the image and the text */
.container {
    /* position: relative; */
    text-align: center;
    color: rgb(22, 21, 21);
    height: 10%;
  }

.im{
    opacity: 0.3;
    width: 100%;
    height: 600px;
}  
  


.ima{
    border: 21px ;

}
 

  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;

    
    
    
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



















.res-btn{
    background: var(--white-font);
}

.res-btn:hover{
    color: blueviolet;
}

.acc-btn{
    background: var(--home-gray);
    color: var(--white-font);
    transition: 300ms;
}

.acc-btn:hover{
    background: var(--white-font);
    color: black;
}

.slider-comp-home{
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
}

.slider-container{
    min-height: 180px;
    min-width: 100%;
    display: flex;
    background: var(--home-gray);
    justify-content: start;
    padding-bottom: 60px !important;
    flex: 0 0 auto;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    animation: scroll 51s linear var(--ani-delay) infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
}


@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slide-comp{
    position: relative;
    height: 178px;
    flex-shrink: 0;
    width: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(38, 39, 52, 1);
    margin-bottom: 60px;
    color: var(--white-font);
    border-radius: 25px;
    margin-right: 20px;
    padding:  0.75rem;
}

.slide-comp:after{
    content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:25px; 
  padding:2px; 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
    background: linear-gradient(102.64deg,#3e1c8d,#407bff 50.08%,#7b61ff 99.13%);    
}

.slide-comp .img-container{
    height: 70px;
    display: flex;
    justify-content: center;
}

.slide-comp .img-container img{
    object-fit: contain;

}

.slide-comp h4{
    margin: 0;
    padding: 0;
    height: 62px;
    position: relative;
    margin-bottom : 0.375rem;
    font-size: .875rem;
    line-height: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.sector{
    font-size: 12px;
    line-height: 0.25rem;
    color: var(--color-dark-grey);
}

.service{
    font-size: .875rem;
    line-height: 0.25rem;
    color: var(--color-light-grey);
}

.video-container{
    margin:60px 0 90px 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    color: var(--white-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1280px){
    .vid-cont{
        width: 920px !important;
        height: 640px !important;
    }
}


@media (max-width: 980px){
    .df{
        
        margin-top: 143px
       
    }
}


@media (max-width: 651px){
    .social-icons img{
        height: 40px !important;
        width: 40px !important;
        
       
    }
}

@media (max-width: 490px){
    .start-investment-cont{
       margin-bottom: 83px;
        flex-direction: column !important;
       
    }
}



.hero{
    font-size: small;
    padding-top: 100px;
}







/* @media (max-width:770px){
    .img-cont-home .img-cont-home-in, .img-cont-home-in {
        
        height: 16px;
        width: 415px;
        
    }
    
} */

/* @media (max-width:770px){
    .img-cont-home-in img{
        height: 63px;
        width: 15px;
    }
} */







@media (max-width:770px){
    .img-cont-home-in:nth-child(1){        
        margin-right: 64px;
        /* display: none; */
        animation: none !important;
       margin-top:  282px;
    }
    
}


@media (max-width:520px){
    .img-cont-home-in:nth-child(1){        
        
        display: none;
      
    }
    
}
@media (max-width:520px){
    .img-cont-home-in:nth-child(2){        
        
        display: none;
      
    }
    
}
@media (max-width:520px){
    .img-cont-home-in:nth-child(3){        
        
        display: none;
      
    }
    
}




@media (max-width:520px){
    .df{              
        margin: 0px;
        padding: 0px;
      
    }
    
}


@media (max-width:770px){
    .img-cont-home-in:nth-child(2){        
        /* margin-left: 84px; */
       
       
        animation: none !important;
    
       margin-top: 282px;
       margin-right: 84px;
    }
    
}




@media (max-width:770px){
    .img-cont-home-in:nth-child(3){        
      
      
        margin-right: 104px;
        animation: none !important;
    
       margin-top: 282px;
    }
    
}


@media (max-width: 1170px){
    .h-primary{
        /* width: 600px !important; */
        /* font-size: 45px !important; */
        /* height: 380px !important; */
        /* font-size: 2.5rem !important; */
}
}

@media (max-width: 712px){
    .h-primary{
        font-size:39px !important;
  
        /* font-size: 2.1rem !important; */
}
}


@media (max-width: 412px){
    .h-primary{
        font-size:29px !important;
        padding-bottom: 22px;
  
    
}
}

@media (max-width: 670px){
    .btns{
    
        font-size: 15px !important;

}}






/* @media (max-width: 1077px){
    .bottom-left{
        font-size: 37px;
        padding-right: 104px;
    }
    } */

@media (max-width: 1077px){
    .heading-btns {           
        left: 19rem; 
    }
    }


@media (max-width: 1024px){
    .vid-cont{
        width: 800px !important;
        height: 520px !important;
    }
}

@media (max-width: 768px)
{
    .vid-cont{
        width: 720px !important;
        height: 400px !important;
    }
}

@media (max-width : 640px){
    .vid-cont{
        width: 600px !important;
        height: 380px !important;
    }
}

@media (max-width : 400px){
    .vid-cont{
        width: 380px !important;
        height: 240px !important;
    }
}


.vid-cont video{
    height: 100%;
    width: 100%;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius: 25px;
}

.info-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-font);
}

.info-container .cards-container{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.cards-container .info-card{
    position: relative;
    margin: 10px;
    width: 410px;
    cursor: pointer;
    user-select: none;
    height: 300px;
    background: var(--defused-black);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}











.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 54px;
    display: flex;
    text-align: center;
    /* padding: 0px; */
}




.btns {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    /* width: 100%; */
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btns:hover {
    background-color: #45a049;
  }
  



.center{
    text-align: center;
}




.info-card .add-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.info-card-modal{
    position: relative;
    height: 80%;
    width: 80%;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding:0 6rem;
    justify-content: center;
    border-radius: 22px;
    background: var(--defused-black);
}

.refer-card-modal input{
    width: 100%;
}

.refer-card-modal{
    position: relative;
    height: 300px;
    width: 50%;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding:0 6rem;
    justify-content: center;
    border-radius: 22px;
    background: var(--defused-black);
}

.refer-card-modal input:focus{
    outline: none;
    border: none;
}

.info-card-modal:focus{
    outline: none;
    border: none;
}

.info-card-modal h1{
    color: white;
}

.info-card-modal p{
    color: var(--color-light-grey);
}

.info-card-modal .clear-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    background: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.clear-btn svg{
    transform: rotate(45deg);
}

.start-investment-cont h3{
    color : rgb(207, 69, 228);
}

.start-investment-cont{
    margin-top: 100px;
    height: 200px;
    padding: 0 6rem ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-font);

}

.df{
    color: white;
    padding-left: 30px;
    margin-bottom:33px ;
   
    
}

.com3{
    display: flex;
    
    
}
.ima{
    align-self: center;
}


.home-footers{
   
    min-height: 50px;
    border-top: 3px solid #407bff;
    width: 100%;
    text-align: justify;
    color: var(--color-light-grey);
    font-size: 14px;
    
    padding: 0 6rem;
}

.home-footer{
    margin-top: 100px;
    min-height: 300px;
    border-top: 3px solid #407bff;
    width: 100%;
    text-align: justify;
    color: var(--color-light-grey);
    font-size: 14px;
    background: radial-gradient(ellipse at bottom,rgba(23,31,42,255) 30%,  #202933 80%);
    padding: 0 6rem;
}

.section{
    padding: 0 6rem;
    padding-top: 94px;
    color: white;
    min-height: 580px;
}

.img-cont-home{
    position: relative;
    height: fit-content;
}

.img-cont-home .img-cont-home-in, .img-cont-home-in img{
    user-select: none;
    position: absolute;
    height: 160px;
    width: 150px;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

.img-cont-home .img-cont-home-in:nth-child(1){
    top: 0;
    right: 0;
    animation: img_1_anim 5s linear 0s infinite;
}

.img-cont-home .img-cont-home-in:nth-child(2){
    top: 0;
    right: 34%;
    animation: img_2_anim 5s linear 0s infinite;
}

.img-cont-home .img-cont-home-in:nth-child(3){
    top: 180px;
    right: calc(50% - 180px);
    animation: img_3_anim 5s ease 0s infinite;
}

@keyframes img_1_anim{
    0%{
        top: 0;
        right: 0;
    }
    50%{
        top: 0;
        right: -50px;
    }
    100%{
        top: 0;
        right: 0px;
    }
}

@keyframes img_2_anim{
    0%{
        top: 0;
        left: 34%;
    }
    50%{
        top: 0;
        left: 28%;
    }
    100%{
        top: 0;
        left: 34%;
    }
}


@keyframes img_3_anim{
    0%{
        top: 180px;
        right: calc(50% - 180px);
    }
    50%{
        top: 200px;
        right: calc(50% - 180px);
    }
    100%{
        top: 180px;
        right: calc(50% - 180px);
    }
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter, .facebook, .instagram{
    padding: 8px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    margin: 8px;
}

.social-icons img{
    height: 60px;
    width: 60px;
}

.copyright-cont{
    margin-top: 30px;
}

.referral-container p{
    color: white;
    font-size: 30px;
}

.refer-btn{
    outline: none;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 22px;
    margin-top: 3px;
}



.referral-code-container-home{
    min-height : 50px;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : rgb(137, 135, 135);
    font-size: 30px;
    border: 1px dashed #aaa;
}



#hom{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#hom::before{ 
    content: "";
    position: absolute;
    background: url('../../../../public/jk.jpeg') no-repeat center center/cover;
    height: 692px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.3;
}

#hom h1{
    color:white;
    /* text-align: center; */
    /* font-family: 'Bree Serif', serif; */
}

/* #hom p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
} */




@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(0deg); }
    30% { transform: translate(2px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  


}
.h-primary:hover{
    animation: shake 2s;
    animation-iteration-count: infinite;
}